<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Controle de estoque</title>

<!-- Css do Fundation -->
<link rel="stylesheet" href="../static/foundation-6/css/foundation.css"
	th:href="@{/foundation-6/css/foundation.css}" />
<link rel="stylesheet" href="../static/foundation-6/css/app.css"
	th:href="@{/foundation-6/css/app.css}" />

</head>
<body>

	<div class="row medium-8 large-7 columns">
		<div class="large-3 large-centered columns">
			<div class="login-box">
				<div class="row">
					<div th:if="${param.error}">Invalid username and password.</div>
					<div th:if="${param.logout}">You have been logged out.</div>

					<div class="large-12 columns">
						 <form th:action="@{/login}" method="post">
							<div class="row">
								<div class="large-12 columns">
									<input type="text" name="username" placeholder="Username" />
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<input type="password" name="password" placeholder="Password" />
								</div>
							</div>
							<div class="row">
								<div class="large-12 large-centered columns">
									<input type="submit" class="button expand" value="Log In" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Rodapé -->
	<div th:replace="rodape :: conteudo_rodape"></div>

	<!-- Scripts do Fundation -->
	<script src="../static/foundation-6/js/vendor/jquery.min.js"
		th:src="@{/foundation-6/js/vendor/jquery.min.js}"></script>
	<script src="../static/foundation-6/js/vendor/what-input.min.js"
		th:src="@{/foundation-6/js/vendor/what-input.min.js}"></script>
	<script src="../static/foundation-6/js/foundation.min.js"
		th:src="@{/foundation-6/js/foundation.min.js}"></script>
	<script src="../static/foundation-6/js/app.js"
		th:src="@{/foundation-6/js/app.js}"></script>
</body>
</html>
