<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="@{layout}">
<head>
<title>Visualizar produto</title>
</head>
<body layout:fragment="conteudo">

	<h3>Visualizar Produto:</h3>
	<form>
		<div class="row">
			<div class="medium-6 columns">
				<label>Nome<input type="text" readonly="readonly"
					th:field="${produto.nome}"></input>
				</label>
			</div>
			<div class="medium-3 columns">
				<label>Estoque <input type="number" readonly="readonly"
					th:field="${produto.estoque}"></input>
				</label>
			</div>
			<div class="medium-3 columns">
				<label>Valor <input type="text" readonly="readonly"
					th:field="${produto.valor}"></input>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns">
				<label> Descrição <textarea th:text="${produto.descricao}"
						readonly="readonly"></textarea>
				</label>
			</div>

			<div class="medium-6 columns">
				<label>Fornecedor <input type="text" readonly="readonly"
					th:field="${produto.fornecedor}"></input>
				</label>
			</div>
		</div>
	</form>

</body>
</html>